$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

$bg: #1E202F;
$bg-light: #2B2A44;
$bg-lighter: #323150;

$accent: #3796D3;
$dark: #1E202F;
$darker: #151621;
$border: #4F4D82;

$lato: 'Lato', sans-serif;